body {
  /* background-image: url("./ch2data/img/starBG.png"); */
  background: #080010;
  color: #fff;
}
h2 {
  white-space: nowrap;
}
svg {
  background: url("./ch2data/img/starBG.png");
  margin: 0; padding: 0;
}
svg .edge {
  stroke: #aaa;
  stroke-width: 4;
}
svg .node {
  stroke: #aaa;
  stroke-width: 1;
  fill: #ddd;
}
svg .zoom-buttons {
  fill: #222d;
  stroke: #ccc;
  stroke-width: 3;
  border-radius: 5;
}
svg .zoom-buttons text {
  text-anchor: middle;
  dominant-baseline: central;
  pointer-events: none;
}
.svg-container {
  position: relative;
  margin: 0; padding: 0;
  /* border: 1px solid grey; */
}
.svg-container,
.svg-container svg,
.skill-tree-main,
body,
html {
  width: 100%;
  height: 100%;
  border: 0; padding: 0; margin: 0;
  /* overflow: hidden; */
}
.skill-tree-main .sidebar {
  position: fixed;
  left: 0; top: 0;
  width: 480px;
  height: 100%;
  background: #080010f0;
  overflow: auto;
}
.sidebar-hide {
  float: right;
}
.sidebar-show {
  position: absolute;
  top: 4px; left: 4px;
}
.sidebar-show, .sidebar-hide {
  border: 3px solid #ccc;
  border-radius: 5px;
  background: #080010f0;
  color: #ccc;
  font-weight: bold;
  font-size: 120%;
}

.tooltip {
  position: absolute;
  display: inline-block;
  background: #222e;
  width: 300px;
  padding: 0.5em;
  border: 0.3em ridge #ddd;
  border-radius: 0.5em;
  color: #ddd;
  margin: 0;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.tooltip .flavor {
  color: #999;
}

.summary .icon {
  float: left;
}
.summary .icon .icon-main {
  width: 1em;
  height: 1em;
}
.summary .icon .icon-background {
  /* original plan was to put the background behind the icon, but separately actually works better for visibility and the background looks like a bullet point */
  width: 1em;
  height: 1em;
}
.summary .clear {
  clear: left;
}
.summary ul {
  list-style-type: none;
}
.summary li {
  margin: 0.2em;
}

.changelog h1 {
  display: none;
}
a {
  color: #ccc;
}
nav a {
  padding: 0.5em;
  margin: 0.5em;
  background: #ccc3;
  background-opacity: 0.3;
  border: 0.1em solid #ccc;
  border-radius: 5px;
}
.skill-tree-main nav a {
  display: block;
}
nav {
  padding: 0.5em;
  margin: 0.5em;
  padding-left: 0;
  margin-left: 0;
}
