body {
  /* background-image: url("./ch2data/img/starBG.png"); */
  background: #080010;
  color: #fff;
  max-width: 1000px;
}
svg {
  background: url("./ch2data/img/starBG.png");
  margin: 0; padding: 0;
}
svg .edge {
  stroke: #aaa;
  stroke-width: 4;
}
svg .node {
  stroke: #aaa;
  stroke-width: 1;
  fill: #ddd;
}
svg .zoom-buttons {
  fill: #222d;
  stroke: #ccc;
  stroke-width: 3;
  border-radius: 5;
}
svg .zoom-buttons text {
  text-anchor: middle;
  dominant-baseline: central;
  pointer-events: none;
}
.svg-container {
  position: relative;
  margin: 0; padding: 0;
  border: 1px solid grey;
}
.tooltip {
  position: absolute;
  display: inline-block;
  background: #222e;
  width: 300px;
  padding: 0.5em;
  border: 0.3em ridge #ddd;
  border-radius: 0.5em;
  color: #ddd;
  margin: 0;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.tooltip .flavor {
  color: #999;
}

.summary .icon {
  float: left;
}
.summary .icon .icon-main {
  width: 1em;
  height: 1em;
}
.summary .icon .icon-background {
  /* original plan was to put the background behind the icon, but separately actually works better for visibility and the background looks like a bullet point */
  width: 1em;
  height: 1em;
}
.summary .clear {
  clear: left;
}
.summary ul {
  list-style-type: none;
}
.summary li {
  margin: 0.2em;
}

.changelog h1 {
  display: none;
}
a {
  color: #ccc;
}
nav a {
  padding: 0.5em;
  margin: 0.5em;
  background: #ccc3;
  background-opacity: 0.3;
  border: 0.1em solid #ccc;
  border-radius: 5px;
}
nav {
  padding: 0.5em;
  margin: 0.5em;
  padding-left: 0;
  margin-left: 0;
}
